# {{ .Title }}

## Links

{{ range $url, $title := .Content -}}
- [{{ normalizeTitle $title }}]({{ normalizeUrl $url }})
{{ end }}

## License

[![CC0](https://mirrors.creativecommons.org/presskit/buttons/88x31/svg/cc-zero.svg)](https://creativecommons.org/publicdomain/zero/1.0/)

To the extent possible under law, [{{ .UserName }}](https://github.com/{{ .UserName }}) has waived all copyright and related or neighboring rights to this work.
